@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: #f3f4f6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-gray-750 {
    background-color: #2d3748;
  }
}
